<div class="container ">
    <form class="form mat-elevation-z8">
        <h1>Helpdesk</h1>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <!--two way dataBiding; já é atribuído em tempo real-->
            <input 
                    [formControl]="email"
                    required        
                    [(ngModel)]="creds.email" 
                    name="email" 
                    matInput placeholder="Ex. teste@mail.com">            
        </mat-form-field>


        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input 
                    [formControl]="senha"
                    required   
                    [(ngModel)]="creds.senha"
                    name="senha" 
                    type="password"
                    matInput placeholder="Ex. 123">
        </mat-form-field>

        <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button>Login</button>
        {{creds.email}}
    </form>

</div>